.faq-item {
  border: 1px solid #d7dae6;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.question-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-heading {
  color: #52606d;
  font-size: 25px;
}

.expand-btn {
  background-color: transparent;
  border: 0px solid #ccc;
  cursor: pointer;
  outline: none;
}

.expand-img {
  height: 20px;
}

hr {
  border: 1px solid #e4e7eb;
}

.answer-text {
  font-size: 18px;
  color: #9aa5b1;
}
